In [4]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (34.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 49.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [5]:
import requests
from bs4 import BeautifulSoup
import mysql.connector

# Connect to MySQL and save data
def save_to_mysql(site_name, title_content):
    conn = mysql.connector.connect(
        host="localhost",  # Replace with your MySQL host
        user="root",       # Replace with your MySQL username
        password="nikita2004", # Replace with your MySQL password
        database="website_data" # Database name
    )
    cursor = conn.cursor()
    cursor.execute("INSERT INTO site_info (site_name, title_content) VALUES (%s, %s)", (site_name, title_content))
    conn.commit()
    cursor.close()
    conn.close()
    print("Data saved successfully!")

# Fetch title tag content
def fetch_title(site_name):
    response = requests.get(site_name)
    soup = BeautifulSoup(response.text, 'html.parser')
    return soup.title.string if soup.title else "No title found"

# Main function
def main():
    site_name = input("Enter the website URL (e.g., https://example.com): ")
    title_content = fetch_title(site_name)
    print(f"Title of the site: {title_content}")
    save_to_mysql(site_name, title_content)

if __name__ == "__main__":
    main()

Enter the website URL (e.g., https://example.com): https://newartscollege.ac.in/
Title of the site: Home -

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)